# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ros_projects/bag_files/*
ros_projects/dev_ws/build/*
ros_projects/dev_ws/install/*
ros_projects/dev_ws/log/*

__pycache__/
